@import "variables.scss";

body {
  font-family: "Lato", sans-serif;
}

/* RESET */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* COMMON */

.ml-auto {
  margin-left: auto;
}

.mc-auto {
  margin: 0 auto;
}

.txt-white {
  color: $white;
}

.txt-brand {
  color: $brand-primary;
}

.btn-primary {
  color: $white;
  background-color: $brand-primary;
  text-transform: uppercase;
  font-weight: bold;
  padding: .8rem 1.5rem;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.btn-secondary {
  color: $white;
  border: 1px solid $brand-primary;
  text-transform: uppercase;
  font-weight: bold;
  padding: .8rem 1.5rem;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.title-small {
  color: $brand-primary;
  text-transform: uppercase;
  font-size: 1rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 900;
  margin-top: 1.5rem;
}

.title-highlighted {
  background-color: $brand-primary-shadow;
  border-radius: 5px;
  padding: 0 .6rem;
}

.paragraph {
  margin: 2rem 0;
  line-height: 1.4rem;
}