/* COLORS */
$brand-primary: #16928e;
$header-top-bg: #403a36;
$white: #ffffff;
$silver-sand: #bcbdbd;

/* SIZES */
$header-top-height: 50px;

/* IMAGES */
$header-jumbotron-img: url(../assets/img/bg-9.jpg);