/* COLORS */
$brand-primary: #038384;
$brand-primary-shadow: rgba(22, 146, 142, .2);
$header-top-bg: #403a36;
$sections-bg: #121117;
$white: #ffffff;
$black: #000000;
$gray-nurse: #e6ece8;
$silver-sand: #bcbdbd;
$mid-gray: #69696d;
$shark: #191c1e;

/* SIZES */
$header-top-height: 50px;

/* IMAGES */
$header-jumbotron-img: url(../assets/img/bg-9.jpg);
$results-jumbotron-img: url(../assets/img/bg-10.jpg);